


.allUsers{
    background: #FEF5D2;
    font-family: 'Roboto', sans-serif;
    
    width: 100vw;
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    gap: 20px;

    .user{
        display: flex;
        flex-direction: row;
        gap: 20px;
        font-size:x-large;
    font-weight: 800;
    }
& .followButton {
    display: flex;
        flex-direction: row;
    background-color: #fabe25;
    border: 1px solid black;
    border-radius: 6px;
    padding: 10px 10px;
    cursor: pointer;
    opacity: 0.6;
    font-size:x-large;
    font-weight: 800;
     

    &:hover {
        opacity: 1;
    }
}
}